/*
       0 to 600   -> Phone
     600 to 900   -> Tablet (Portrait)
     900 to 1200  -> Tablet (Landscape)
    1200 to 1800  -> Desktop (small - where default styles apply)
    1800+         -> Desktop (big)

    Since 1200 to 1800 is default, we will write max-width queries for
    pixel width less than this and min-width media queries for big-desktop
    above it.

    using em because media queries don't adhere to rem and using px directly
     would fail to account for larger font size settings per user preferences.
    1em = 16px (for browser's default font size)

    coding order:
    1. base + typeography
    2. general layout (header, footer, grid)
    3. page layout
    4. components
*/
*,
*::before,
*::after {
  border: 0;
  outline: 0;
  vertical-align: top;
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  height: 100%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  /* height & width include padding & border (but not margin) */
  margin: 0;
  padding: 0;
  width: 100%;
  color: #ffffff; }

table,
table td {
  padding: 0px;
  border: none;
  border-collapse: collapse; }

header,
nav,
section,
article,
aside,
footer,
div {
  display: block; }

::selection {
  background-color: #4b759afc;
  color: #fff; }

body {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #474747; }

b,
strong {
  font-weight: 600; }

ol li strong {
  font-weight: 700;
  color: #000000;
  font-size: 16px; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  /* backface-visiblity is a hack that fixes glitchy 'shaking' at end of transformation (hard to see regardless) */
  backface-visibility: hidden;
  margin-bottom: 6rem;
  /* display block means element takes up full width with line-feed after it */ }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: 1rem;
        font-size: 5rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    animation: moveInRight 1s ease-out; }
    @media only screen and (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: 0.5rem; } }

.heading-secondary {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
  text-transform: uppercase;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  transition: all 0.2s; }
  @media only screen and (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2 rem rgba(0, 0, 0, 0.2); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-large {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-top-xlarge {
  margin-top: 10rem !important; }

/*
    homepage.html
    contactus.html
    terms.html
*/
.layout {
  display: table;
  width: 100%;
  height: calc(100% - 3.5rem);
  margin: 0;
  padding: 0; }
  .layout__background {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(../img/calm-river.jpg) center center no-repeat;
    background-size: cover;
    z-index: -10; }
  .layout__top {
    position: absolute;
    top: 0;
    left: 0;
    height: 60rem;
    width: 100%;
    background: url(../img/nat-6.jpg) left center no-repeat fixed;
    background-size: cover; }
  .layout__bottom {
    position: absolute;
    top: 60rem;
    left: 0;
    height: calc(100vh - 60rem);
    display: block;
    width: 100%; }
    .layout__bottom__container {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      position: relative;
      padding: 0 7rem; }

.header {
  z-index: 100;
  position: relative;
  top: 0px;
  left: 0px;
  height: 10rem;
  width: 100%;
  margin: 0px auto;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: none;
  -webkit-transition: height 0.3s ease 0s, background 0.375s ease-in-out 0s;
  transition: height 0.3s ease 0s, background 0.375s ease-in-out 0s; }
  @media only screen and (max-width: 1199px) and (min-width: 320px) {
    .header {
      background: #f7f7f7 !important;
      border-bottom: 1px solid #cad4dd;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.09);
      height: 60px !important; } }
  .header__container {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    position: relative;
    padding: 0 7rem; }
    @media only screen and (max-width: 1199px) and (min-width: 320px) {
      .header__container {
        padding: 0px 30px; } }
  .header__logo a {
    font-weight: 500;
    color: #1e73be;
    text-decoration: none;
    border: 0;
    transition: all 0.2s linear; }
  .header__logo--img1 {
    display: block;
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%, -50%);
    padding-left: 4.75rem;
    height: 6.5rem;
    transition: color 0.21s ease-in-out, padding 0.3s ease 0s; }
    @media only screen and (max-width: 1199px) and (min-width: 320px) {
      .header__logo--img1 {
        display: none; } }
  .header__logo--img2 {
    display: none; }
    @media only screen and (max-width: 1199px) and (min-width: 320px) {
      .header__logo--img2 {
        display: block;
        height: 5.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); } }

.navigation {
  position: relative;
  float: right;
  display: block; }
  .navigation__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0px; }
  .navigation__item {
    list-style: none;
    padding: 2rem 0;
    margin: 0 1rem;
    display: inline-block;
    line-height: 6rem;
    position: relative; }
    .navigation__item--link {
      font-size: 1.2rem;
      text-transform: uppercase;
      line-height: 6rem;
      color: rgba(255, 255, 255, 0.7);
      font-weight: 600;
      letter-spacing: 1px;
      text-decoration: none;
      transition: color 0.2s; }
      .navigation__item--link:hover {
        color: white; }

.mobile-navigation {
  display: none; }
  @media only screen and (max-width: 1199px) and (min-width: 320px) {
    .mobile-navigation__button {
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      border-right: 1px solid #cad4dd; } }
  @media only screen and (max-width: 1199px) and (min-width: 320px) {
    .mobile-navigation__menu-icon {
      position: relative;
      margin-top: 0.99rem;
      position: relative;
      top: 2.1rem;
      left: 1.9rem; }
      .mobile-navigation__menu-icon, .mobile-navigation__menu-icon::before, .mobile-navigation__menu-icon::after {
        display: inline-block;
        width: 2.5rem;
        height: 2px;
        background-color: #999; }
      .mobile-navigation__menu-icon::before, .mobile-navigation__menu-icon::after {
        position: absolute;
        content: '';
        transition: all 0.2s; }
      .mobile-navigation__menu-icon::before {
        top: -0.8rem; }
      .mobile-navigation__menu-icon::after {
        top: 0.8rem; } }

footer {
  display: block;
  height: auto;
  min-height: 5.5rem;
  width: 100%;
  padding: 1.6rem;
  position: absolute;
  bottom: 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
  background: #f2f2f2;
  border-top: 1px solid #d8dadc; }
  footer p {
    font-weight: 300;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    color: #333333; }
    footer p a {
      text-decoration: none;
      color: #333333; }

.contact {
  width: 100%;
  padding: 4rem 0 4.5rem 0;
  position: relative;
  display: table; }
  .contact__list {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 3rem;
    list-style: none; }
    .contact__list__item {
      display: table-cell;
      font-size: 1.6rem;
      width: 50%;
      padding: 0;
      margin: 0;
      list-style: none; }
      .contact__list__item p {
        text-align: justify;
        padding-bottom: 1rem;
        line-height: 2.4rem; }

.heading-primary {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  letter-spacing: 3px;
  color: #000; }

.u-margin-bottom {
  margin-bottom: 1rem; }

.u-scale-font {
  font-size: 110%; }

.u-gradient-brown {
  background-image: radial-gradient(rgba(186, 126, 52, 0.856), rgba(147, 135, 135, 0.04)); }

.u-gradient-blue {
  background-image: radial-gradient(rgba(28, 66, 122, 0.571), rgba(84, 140, 172, 0.105)); }

.u-color-black {
  color: #333; }

.u-font-small {
  font-size: 1.4rem !important; }

.u-no-pad {
  padding: 0 !important; }

.terms {
  max-width: 120.8rem;
  margin: 0 auto;
  padding: 0px 7rem;
  position: relative; }
  .terms__header {
    border-bottom: 1px solid #cad4dd;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
    background: #fff;
    width: 100%;
    height: 10rem;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    transition: all 0.3s ease;
    z-index: 100;
    display: block; }
  .terms__logo {
    float: left;
    padding-top: 3rem; }
  .terms__content {
    width: 100%;
    padding: 12rem 0 4.5rem 0;
    position: relative;
    display: table; }
    .terms__content h1 {
      font-size: 2rem;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 3rem;
      margin-bottom: 2.5rem;
      letter-spacing: 3px;
      color: #000; }
    .terms__content p {
      text-align: justify;
      padding-bottom: 1rem;
      line-height: 2.4rem;
      font-size: 1.6rem; }
    .terms__content ol {
      display: block;
      list-style-type: decimal;
      padding: 0.4rem 0 0.3rem 0;
      margin-block-start: 1rem;
      margin-block-end: 1rem;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 4rem; }
    .terms__content li {
      display: list-item;
      font-size: 1.6rem;
      max-width: 70vw; }
    .terms__content strong {
      font-size: 1.6rem; }
    .terms__content ul {
      display: block;
      list-style-type: disc;
      margin-block-start: 0.5rem;
      margin-block-end: 2rem;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 4rem; }
  .terms__footer {
    position: static;
    margin-top: 5rem; }
