.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: $z-index-background-video;
  opacity: 0.15;
  overflow: hidden; // in case object-fit/cover doesn't work.

  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover; // makes video fit spact available
  }
}
