// popup
// 1. div.popup is dark background with fixed position, full height width,
//    high z-index opacity initially set to 0.  (visibility also set to hidden)
//    so as to keep interactive elements out of the DOM -- no "false" clicks).
//
//    div.popup has id="popup" so that <a> elements can activate it when
//    clicked via the <a href="#popup">Book Now</a> markup. When this happens,
//    the popup:target pseudo class is applied and available for styling,
//    and we hook into that to set opacity back to 1. Similarly, closing
//    the popup is handled by another anchor tag with markup like so:
//    <a href="#section-tours">Close</a>.  This targets the html markup below:
//    <section id="section-tours">, which means that section-tours is now the
//    active target, so popup:target pseudo class no longer applies and
//    opacity and visibility will therefore transition back to 0.
//
// 2. div.content is white background, rounded corners (with overflow hidden),
//    and display set to table (so children can be tabel-cells of same height).
// 3. div.left and div.right are table cells of same height but 1/3 and 2/3 width.
//    div.right is vertical-align middle to center wrt div.left
// 4. img.popup__img fills full width of its div container (div.left)
// 5. p.popup__text is set to 2 column-count with hyphens, and rul in gutter.

.popup {
  display: block;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-grey-dark-3, 0.97);
  opacity: 0;
  visibility: hidden;
  z-index: $z-index-popup-shade;
  transition: all 0.3s;

  &__content {
    @include CenterBlockInMiddle;
    background-color: $color-white;
    width: 75%;
    box-shadow: 0.5rem 2rem 4rem rgba($color-black, 0.2);
    z-index: $z-index-popup-content;
    border-radius: $border-radius;
    display: table;
    overflow: hidden;
    opacity: 0;
    // we want to slide scale from .5 to 1.0 to create animation effect.
    // however, we've already applied a translation transform via
    // CenterBlockInMiddle mixin, so have to repeat it again here since
    // only allowed one transform per element and "last one wins"
    transform: translate(-50%, -50%) scale(0.3);
    transition: all 4s;
    transition: all 0.4s 0.2s; // add a slight delay before zooming
  }

  &__left {
    width: 33.333333%;
    display: table-cell;
  }

  &__right {
    width: 66.6666667;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  // popup is OPEN
  // changes properties of div.popup
  &:target {
    visibility: visible;
    opacity: 1;
  }

  // changes properties of div.popup__content when id="popup" is targeted by <a>
  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {
    &:link,
    &:visited {
      transition: all 0.2s;
      color: $color-grey-dark-1;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 4rem;
      line-height: 1;
      text-decoration: none;
      display: inline;
    }
    &:hover {
      color: $color-primary;
    }
  }
}
