/*
    homepage.html
    contactus.html
    terms.html
*/

.layout {
  display: table;
  width: 100%;
  height: calc(100% - 3.5rem);
  margin: 0;
  padding: 0;

  &__background {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(../img/calm-river.jpg) center center no-repeat;
    //   background: url(../img/nat-4.jpg) center center no-repeat;
    //   background: url(../img/nat-6.jpg) center center no-repeat;
    background-size: cover;
    z-index: $z-index-sub-1;
  }

  &__top {
    position: absolute;
    top: 0;
    left: 0;
    height: 60rem;
    width: 100%;
    //   background: url(../img/calm-river.jpg) center center no-repeat;
    //   background: url(../img/nat-4.jpg) center center no-repeat;
    background: url(../img/nat-6.jpg) left center no-repeat fixed;
    background-size: cover;
  }
  &__bottom {
    position: absolute;
    top: 60rem;
    left: 0;
    height: calc(100vh - 60rem);
    display: block;
    width: 100%;

    &__container {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      position: relative;
      padding: 0 7rem;
    }
  }
}

.header {
  z-index: $z-index-layout-1;
  position: relative;
  top: 0px;
  left: 0px;
  height: 10rem;
  width: 100%;
  margin: 0px auto;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  //   max-width: 100%;
  //   box-sizing: border-box;
  box-shadow: none;
  -webkit-transition: height 0.3s ease 0s, background 0.375s ease-in-out 0s;
  transition: height 0.3s ease 0s, background 0.375s ease-in-out 0s;
  // header transition
  @include respond(double-check) {
    background: $color-grey-light-1 !important;
    border-bottom: 1px solid #cad4dd;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.09);
    height: 60px !important;
  }
  &__container {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    position: relative;
    padding: 0 7rem;
    @include respond(double-check) {
      padding: 0px 30px;
    }
  }

  &__logo {
    a {
      font-weight: 500;
      color: $color-hover;
      text-decoration: none;
      border: 0;
      transition: all 0.2s linear;
    }
    &--img1 {
      display: block;
      @include CenterBlockLeft;
      padding-left: 4.75rem;
      height: 6.5rem;
      transition: color 0.21s ease-in-out, padding 0.3s ease 0s;
      @include respond(double-check) {
        display: none;
      }
    }
    &--img2 {
      display: none;
      @include respond(double-check) {
        display: block;
        height: 5.5rem;
        @include CenterBlockMiddle;
      }
    }
  }
}

.navigation {
  position: relative;
  float: right;
  display: block;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0px;
  }

  &__item {
    list-style: none;
    padding: 2rem 0;
    margin: 0 1rem;
    display: inline-block;
    line-height: 6rem;
    position: relative;
    &--link {
      font-size: 1.2rem;
      text-transform: uppercase;
      line-height: 6rem;
      color: rgba($color-white, 0.7);
      font-weight: 600;
      letter-spacing: 1px;
      text-decoration: none;
      transition: color 0.2s;
      &:hover {
        color: rgba($color-white, 3);
      }
    }
  }
}
.mobile-navigation {
  display: none;
  &__button {
    @include respond(double-check) {
      // todo: hamburger icon
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      border-right: 1px solid $color-border;
    }
  }

  &__menu-icon {
    @include respond(double-check) {
      @include Hamburger;
      position: relative;
      top: 2.1rem;
      left: 1.9rem;
    }
  }
}

footer {
  display: block;
  height: auto;
  min-height: 5.5rem;
  width: 100%;
  padding: 1.6rem;
  position: absolute;
  bottom: 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
  background: $color-footer-background;
  border-top: 1px solid $color-footer-border;

  p {
    font-weight: 300;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    color: $color-footer-text;
    a {
      text-decoration: none;
      color: $color-footer-text;
    }
  }
}
// contact_us styles
.contact {
  width: 100%;
  padding: 4rem 0 4.5rem 0;
  position: relative;
  display: table;

  &__list {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 3rem;
    list-style: none;
    &__item {
      display: table-cell;
      font-size: 1.6rem;
      width: 50%;
      padding: 0;
      margin: 0;
      list-style: none;
      p {
        text-align: justify;
        padding-bottom: 1rem;
        line-height: 2.4rem;
      }
    }
  }
}

.heading-primary {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  letter-spacing: 3px;
  color: $color-black;
}

.u-margin-bottom {
  margin-bottom: 1rem;
}

.u-scale-font {
  font-size: 110%;
}

.u-gradient-brown {
  background-image: radial-gradient(
    $color-logo-background-brown1,
    $color-logo-background-brown2
  );
}
.u-gradient-blue {
  background-image: radial-gradient(
    $color-logo-background-blue1,
    $color-logo-background-blue2
  );
}

.u-color-black {
  color: $color-grey-dark-3;
}

.u-font-small {
  font-size: $font-size-small !important;
}

.u-no-pad {
  padding: 0 !important;
}

.terms {
  max-width: 120.8rem;
  margin: 0 auto;
  padding: 0px 7rem;
  position: relative;

  &__header {
    border-bottom: 1px solid $color-border;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.9);
    background: $color-white;

    width: 100%;
    height: 10rem;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0 auto;
    transition: all 0.3s ease;
    z-index: $z-index-layout-1;
    display: block;
  }
  &__logo {
    float: left;
    padding-top: 3rem;
    // a {
    //   font-weight: 500;
    //   color: $color-hover;
    //   text-decoration: none;
    //   border: 0;
    //   outline: 0;
    // }
  }

  &__content {
    width: 100%;
    padding: 12rem 0 4.5rem 0;
    position: relative;
    display: table;
    h1 {
      font-size: $font-size-med;
      font-weight: 300;
      text-transform: uppercase;
      line-height: 3rem;
      margin-bottom: 2.5rem;
      letter-spacing: 3px;
      color: $color-black;
    }
    p {
      text-align: justify;
      padding-bottom: 1rem;
      line-height: 2.4rem;
      font-size: $default-font-size;
    }
    ol {
      display: block;
      list-style-type: decimal;
      padding: 0.4rem 0 0.3rem 0;
      margin-block-start: 1rem;
      margin-block-end: 1rem;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 4rem;
    }
    li {
      display: list-item;
      font-size: $default-font-size;
      max-width: 70vw;
      //   font-size: $font-size-med;
    }
    strong {
      font-size: $default-font-size;
    }
    ul {
      display: block;
      list-style-type: disc;
      margin-block-start: 0.5rem;
      margin-block-end: 2rem;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 4rem;
    }
  }

  &__footer {
    position: static;
    margin-top: 5rem;
  }
}
