/*
    homepage.html
    contactus.html
    terms.html

    body.homepage
      div.wrapper -> contains the entire viewport, including footer
        header.affix-top  -> header bar, height 100px, fixed at 0/0, background FFFFF when > 1199 or < 320
            div.container -> contains navigation bar and main but not footer. Height goes to 0 when px > 1199 or < 320
                div.logo -> anchor tag (for click) with image inside
                    -> float left, 30x padding if > 1120px
                    -> else center margin, inline block
                nav -> display: none when px > 1199 or < 320
                    ul>li>a.href="contactus"
                a.mobile_nav_button -> when width between 1199 and 320px
                    <i> menu_icon -> hamburger
        section.mobile_navigation  ->  display: none when > 1999 or < 320, else height/width 60px
        div.main_container -> main section between header and footer, height 100vh - 165px
            div.content_box1 -> centered but shows nothing
                p.text_st1 -> shows nothing
        footer  (min-height: 56px when width < 767px
            p.copyright
                copywright text
                <a> for FieldstreetCapitalManagement <a/>
                <a> terms of use </a>
        div.back_to_top
            <i>
*/

.layout {
  display: table;
  width: 100%;
  height: calc(100% - 3.5rem);
  margin: 0;
  padding: 0;

  &__background {
    display: block;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: url(../img/calm-river.jpg) center center no-repeat;
    //   background: url(../img/nat-4.jpg) center center no-repeat;
    //   background: url(../img/nat-6.jpg) center center no-repeat;
    background-size: cover;
    z-index: $z-index-sub-1;
  }

  &__top {
    position: absolute;
    top: 0;
    left: 0;
    height: 60rem;
    width: 100%;
    //   background: url(../img/calm-river.jpg) center center no-repeat;
    //   background: url(../img/nat-4.jpg) center center no-repeat;
    background: url(../img/nat-6.jpg) left center no-repeat fixed;
    background-size: cover;
  }
  &__bottom {
    position: absolute;
    top: 60rem;
    left: 0;
    height: calc(100vh - 60rem);
    display: block;
    width: 100%;

    &__container {
      width: 100%;
      height: 100%;
      margin: 0 auto;
      position: relative;
      padding: 0 7rem;
    }
  }
}

.header {
  z-index: $z-index-layout-1;
  position: relative;
  top: 0px;
  left: 0px;
  height: 10rem;
  width: 100%;
  margin: 0px auto;
  background: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  //   max-width: 100%;
  //   box-sizing: border-box;
  box-shadow: none;
  -webkit-transition: height 0.3s ease 0s, background 0.375s ease-in-out 0s;
  transition: height 0.3s ease 0s, background 0.375s ease-in-out 0s;
  // header transition
  @include respond(double-check) {
    background: $color-grey-light-1 !important;
    border-bottom: 1px solid #cad4dd;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.09);
    height: 60px !important;
  }
  &__container {
    width: 100%;
    height: 100%;
    margin: 0px auto;
    position: relative;
    padding: 0 7rem;
    @include respond(double-check) {
      padding: 0px 30px;
    }
  }

  &__logo {
    a {
      font-weight: 500;
      color: $color-hover;
      text-decoration: none;
      border: 0;
      transition: all 0.2s linear;
    }
    &--img1 {
      display: block;
      @include CenterBlockLeft;
      padding-left: 4.75rem;
      height: 6.5rem;
      transition: color 0.21s ease-in-out, padding 0.3s ease 0s;
      background-image: radial-gradient(
        $color-logo-background-1,
        $color-logo-background-2
      );
      @include respond(double-check) {
        display: none;
      }
    }
    &--img2 {
      display: none;
      @include respond(double-check) {
        display: block;
        height: 5.5rem;
        @include CenterBlockMiddle;
      }
    }
  }
}

.navigation {
  position: relative;
  float: right;
  display: block;

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0px;
  }

  &__item {
    list-style: none;
    padding: 2rem 0;
    margin: 0 1rem;
    display: inline-block;
    line-height: 6rem;
    position: relative;
    &--link {
      font-size: 1.2rem;
      text-transform: uppercase;
      line-height: 6rem;
      color: rgba($color-white, 0.7);
      font-weight: 600;
      letter-spacing: 1px;
      text-decoration: none;
      transition: color 0.2s;
      &:hover {
        color: rgba($color-white, 3);
      }
    }
  }
}
.mobile-navigation {
  display: none;
  &__button {
    @include respond(double-check) {
      // todo: hamburger icon
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      border-right: 1px solid $color-border;
    }
  }

  &__menu-icon {
    @include respond(double-check) {
      @include Hamburger;
      position: relative;
      top: 2.1rem;
      left: 1.9rem;
    }
  }
}

footer {
  display: block;
  height: auto;
  min-height: 5.5rem;
  width: 100%;
  padding: 1.6rem;
  position: absolute;
  bottom: 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
  background: $color-footer-background;
  border-top: 1px solid $color-footer-border;

  p {
    font-weight: 300;
    font-size: 1.4rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0;
    color: $color-footer-text;
    a {
      text-decoration: none;
      color: $color-footer-text;
    }
  }
}
// contact_us styles
.contact {
  width: 100%;
  padding: 4rem 0 4.5rem 0;
  position: relative;
  display: table;

  &__list {
    display: table;
    width: 100%;
    padding: 0;
    margin: 0;
    line-height: 3rem;
    list-style: none;
    &__item {
      display: table-cell;
      font-size: 1.6rem;
      width: 50%;
      padding: 0;
      margin: 0;
      list-style: none;
      p {
        text-align: justify;
        padding-bottom: 1rem;
        line-height: 2.4rem;
      }
    }
  }
}

.heading-primary {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 2.5rem;
  margin-bottom: 2rem;
  letter-spacing: 3px;
  color: $color-black;
}

.u-margin-bottom {
  margin-bottom: 1rem;
}

.u-scale-font {
  font-size: 110%;
}
